# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.csproj
*.sln
*.user
*.pidb
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vs/
.gradle/
ExportedObj/
.consulo/
*.unitypackage
sysinfo.txt
*.apk
*.aab
memoryCaptures/
.vercel
contracts/out/
contracts/cache/
_site/
